.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

.idea
*.iml
*.ipr
*.iws

.vscode
.settings
.classpath
.project

bin/
out/

*.class
*.log
*.jar
!gradle/wrapper/gradle-wrapper.jar

.DS_Store

